<!--
    Title: about.component.html
    Arthur: Hannah Del Real
    Date: 08/17/2023
    Description: About  Component a short bio for the composer Chopin.
-->

<div class="composer-container" style="padding:0 30px;">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Frédéric François Chopin</h3>
    </div>

    <hr />

    <div class="row about-composer">
      <div class="col-sm-3">
        <img src="./assets/chopin.jpg" style="width: 250px;">
      </div>
      <div class="col-sm-9">
        <p>
          Frédéric François Chopin, born in 1810, was a gifted Polish pianist and composer of the romantic period.
          He studied piano and harmony at a young age, composing his first piece at age 7 and giving his first concert at age 8.
          Although he was born in Poland, he spent most of his adult life in Paris, building a network among the wealthy as a prominent piano teacher.
          He left an influential mark on his contemporaries who considered his teaching methods revolutionary, helping to shape modern piano  teaching as it is today.
          As a pianist and composer, he is best known for his solo works and piano concerti.
          A shy man, Chopin only ever played piano in the dark, only performing 30 public concerts in his lifetime.
        </p>
        <em class="apa-reference"><a href="https://blog.sheetmusicplus.com/2018/03/01/top-10-interesting-facts-about-frederic-chopin/" target="_blank">Source</a></em>
      </div>
  </div>
</div>
