<!--
    Title: not-found.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/12/2023
    Description: 404 Error Page for GPA Calculator App.
-->

<div fxLayout="column">

  <mat-card fxFlex style="margin-top: 10px; width: 50%; margin-left: 18%;" class="mat-elevation-z0">
    <mat-card-title fxLayoutAlign="center" style="padding-left: 30%;">
      <img src="./assets/not-found.png" />
    </mat-card-title>
    <br />
    <mat-card-content style="text-align: center; padding-left: 30%;">

      <button mat-raised-button color="accent" routerLink="/">Return home</button>

    </mat-card-content>
  </mat-card>

</div>


