/**
    Title: book-list.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/05/23
    Description: SCSS styling for Book-List table In-N-Out-Books App
*/

.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
