/**
    Title: wishlist-create.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/11/23
    Description: SCSS styling for create wishlist item form for pages in In-N-Out-Books App
*/


.wishlist-create-form {
  width: 60%;
  margin: 0 auto;
}
