/**
    Title: book-details-dialog.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/06/23
    Description: CSS styling for book details dialog box for In-N-Out-Books App
*/

.book-details-title {
  line-height: 1.3;
}

.book-details {
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 200;
}
