<!--
    Title: contact.component.html
    Arthur: Hannah Del Real
    Date: 08/17/2023
    Description: Contact Component to display contact info
-->


<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">Welcome to the Contact Us Page</h3>
    </div>
  </div>

  <br /><br />

  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h5 class="text-center">Location</h5>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">	999 Okólnik Street</li>
            <li class="list-group-item">	Warsaw, Poland</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h5 class="text-center">Contact Number</h5>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item"><b>tel:</b>	+48-99-990-99-99 </li>
            <li class="list-group-item"><b>Fax:</b> +48-88-888-88-88</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>
