<!--
    Title: about.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/05/2023
    Description: About Page for the In-N-Out-Books app created with Angular.
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/jane-austen.jpg" style="padding-right: 50px;"/>
      </div>
      <div>
        <em>
          Photo by Elaine Howlin on <a class="attribution-link" href="https://unsplash.com/photos/eNMMw7ihJ2Y" target="_blank">Unsplash</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Jane Austen</h1>
    <p>
      Jane Austen (1775-1817) was an English novelist from Hampshire.
      Austen published a total of six novels and is best known for <i>Sense and Sensibility</i> and<i>Pride and Prejudice</i> .
      Inspired by her own family bonds Austen wrote stories revolving around sisters, each of which was rooted in comedy, romance, and satire.
      Austen has been praised for her ability to transform commonplace things and characters in an interesting way filled with both sentiment and truth.
      Much like her stories’ heroines, she and her sister Cassandra dabbled in their own romances but refused to settle for getting married for the sake of marriage.
      Both remained single, taking care of their mother after their father’s passing.
      Austen spent her happiest years with her family in Chawton, Hampshire until her death in 1817.
    </p>
    <em>Biography by: <a href="https://www.bl.uk/people/jane-austen" target="_blank" class="attribution-link" target="_blank">British Library</a></em>
  </div>
</div>

