/**
    Title: composer-list.component.css
    Author: Hannah Del Real
    Date: 08/17/23
    Description: CSS styling for composer-list.component.html
*/

.composer-list-container {
  padding: 10px 80px;
}

table, tr, td  {
  border: 1px solid;
}
td{
  padding: 10px;
}

td {
  padding-left: 8px;
}

table{
  table-layout: fixed;
}
