/**
    Title: app.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/05/23
    Description: SCSS styling for logo header amd main container for pages in In-N-Out-Books App
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
