/**
    Title: book-list.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/05/23
    Description: SCSS styling for Book-List table In-N-Out-Books App
*/

.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}

.grid-container_item {
  padding: 20px;
  font-size: 30px;
}

.grid-container_ahref {
  text-decoration: none;
  cursor: pointer;
}

.grid-container_ahref:hover {
  text-decoration: underline;
}
