<!--
    Title: contact.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/05/2023
    Description: Contact Page for the In-N-Out-Books app created with Angular.
-->

<div fxLayout="row wrap">
    <div fxFlex>
        <mat-card class="mat-elevation-z0">
            <mat-card-title class="card-title-icon">
                <mat-icon color="primary">navigation</mat-icon>
            </mat-card-title>
            <br />

            <mat-card-content class="align-center">
                <p>
                    100 Oxford Street
                </p>
                <p>
                    London, United Kingdom
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
       <mat-card class="mat-elevation-z0">
        <mat-card-title class="card-title-icon">
            <mat-icon color="primary">phone</mat-icon>
        </mat-card-title>
        <br />

        <mat-card-content class="align-center">
            <p>
                Direct: 020 39999 9999
            </p>
            <p>
                Fax: +44 161 999 9999
            </p>
        </mat-card-content>
       </mat-card>
    </div>
</div>

<br />
<br />
<br />
<br />

<div fxLayout="column">
    <p style="text-align: center">
      Feel free to contact us by phone or visit us if you're in the London area.
    </p>
</div>
